{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'css/index.css'%}">
</head>
<body>
    
{% block index %}

{% comment %} categories section {% endcomment %}

    <div class="container" style="margin-top:-100px">
        <h4 class='text-white'>Browse the highlights</h4>
        <div class="row">
            <div class="col ">
                <div class="card round shadow p-3 card-hover" style="width: 10rem;">
                    <img src="{%static 'img/categories/02.png'%}" alt="" height='150px'>
                    <div class="card-body">
                    <p class="card-text text-center">Jewllery</p>
                    </div>
                </div>
            </div>
            <div class="col"><div class="card round shadow p-3 card-hover" style="width: 10rem;">
                <img src="{%static 'img/categories/03.png'%}" alt="" height='150px'>
                <div class="card-body">
                <p class="card-text text-center">Watces</p>
                </div>
            </div></div>
            <div class="col"><div class="card round shadow p-3 card-hover" style="width: 10rem;">
                <img src="{%static 'img/categories/04.png'%}" alt="" height='150px'>
                <div class="card-body">
                <p class="card-text text-center">Electronics</p>
                </div>
            </div></div>
            <div class="col"><div class="card round shadow p-3 card-hover" style="width: 10rem;">
                <img src="{%static 'img/categories/05.png'%}" alt="" height='150px'>
                <div class="card-body">
                <p class="card-text text-center">Sports</p>
                </div>
            </div></div>
            <div class="col"><div class="card round shadow p-3 card-hover" style="width: 10rem;">
                <img src="{%static 'img/categories/06.png'%}" alt="" height='150px'>
                <div class="card-body">
                <p class="card-text text-center">Real States</p>
                </div>
            </div></div>
            <div class="col"><div class="card round shadow p-3 card-hover" style="width: 10rem;">
                <img src="{%static 'img/categories/01.png'%}" alt="" height='150px'>
                <div class="card-body">
                <p class="card-text text-center">Vehicles</p>
                </div>
            </div></div>
        </div>
    </div>
    <br><br><br>

{% comment %} Vehicles section {% endcomment %}
<div class='container d-flex'>
    <div>
        <img src="{%static 'img/categories/01.png'%}" alt="">
    </div>
    <div class='ms-4'>
        <h1>Vehicles</h1>
        <p>We offer affordable Vehicles</p>
    </div>
</div>
<div class="mt-5" style="background-image: url({%static 'img/categories/car-bg.png'%});height:600px">
    
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card rounded p-2 box-shadow card-style" >
                    <img src="{%static 'img/car-auction/auction-1.jpg'%}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">2018 Hyundai</h5>
                        <hr class="hr-dash">
                        <div class="row">
                            <div class="col-6"style="border-right: 1px solid gray">
                                <div class='d-flex'>
                                    <div><i class="fas fa-gavel text-success"></i></div>
                                    <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class='d-flex'>
                                    <div><i class="fas fa-wallet text-danger"></i></div>
                                    <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-dash">
                    </div>
                    <button class="btn btn-primary btop text-white">Bid Now</button>
                </div>
            </div>
            <div class="col">
                <div class="card rounded p-2 card-style" >
                    <img src="{%static 'img/car-auction/auction-1.jpg'%}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">2018 Hyundai</h5>
                        <hr class="hr-dash">
                        <div class="row">
                            <div class="col-6"style="border-right: 1px solid gray">
                                <div class='d-flex'>
                                    <div><i class="fas fa-gavel text-success"></i></div>
                                    <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class='d-flex'>
                                    <div><i class="fas fa-wallet text-danger"></i></div>
                                    <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-dash">
                    </div>
                    <button class="btn btn-primary btop text-white">Bid Now</button>
                </div>
            </div>
            <div class="col">
                <div class="card rounded p-2 card-style">
                    <img src="{%static 'img/car-auction/auction-1.jpg'%}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">2018 Hyundai</h5>
                        <hr class="hr-dash">
                        <div class="row">
                            <div class="col-6"style="border-right: 1px solid gray">
                                <div class='d-flex'>
                                    <div><i class="fas fa-gavel text-success"></i></div>
                                    <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class='d-flex'>
                                    <div><i class="fas fa-wallet text-danger"></i></div>
                                    <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                </div>
                            </div>
                        </div>
                        <hr class="hr-dash">
                    </div>
                    <button class="btn btn-primary btop  text-white">Bid Now</button>
                </div>
            </div>
        </div>
    </div>
</div> <br><br><br>

    {% comment %} jewelry section{% endcomment %}
    <div class='container d-flex'>
        <div>
            <img src="{%static 'img/categories/02.png'%}" alt="">
        </div>
        <div class='ms-4'>
            <h1>Jewelry</h1>
            <p>Online jewelry auctions where you can bid now and save money</p>
        </div>
    </div>
    <div class="mt-5" style="background-image: url({%static 'img/jewelry/jwelry-bg.png'%});height:600px">
        
        <br> 
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card rounded p-2 card-style">
                        <img src="{%static 'img/jewelry/auction-1.jpg'%}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2018 Hyundai</h5>
                            <hr class="hr-dash">
                            <div class="row">
                                <div class="col-6"style="border-right: 1px solid gray">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-gavel text-success"></i></div>
                                        <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-wallet text-danger"></i></div>
                                        <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                        </div>
                        <button class="btn btn-primary btop text-white">Bid Now</button>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded p-2 card-style">
                        <img src="{%static 'img/jewelry/auction-2.jpg'%}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2018 Hyundai</h5>
                            <hr class="hr-dash">
                            <div class="row">
                                <div class="col-6"style="border-right: 1px solid gray">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-gavel text-success"></i></div>
                                        <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-wallet text-danger"></i></div>
                                        <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                        </div>
                        <button class="btn btn-primary btop text-white">Bid Now</button>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded p-2 card-style">
                        <img src="{%static 'img/jewelry/auction-3.jpg'%}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2018 Hyundai</h5>
                            <hr class="hr-dash">
                            <div class="row">
                                <div class="col-6"style="border-right: 1px solid gray">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-gavel text-success"></i></div>
                                        <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-wallet text-danger"></i></div>
                                        <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                        </div>
                        <button class="btn btn-primary btop  text-white">Bid Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} register section {% endcomment %}
    <div class="container" style="background-image: url({% static 'img/callin/call-bg.png'%});background-repeat: no-repeat;padding: 90px;">
        <div class="row pad">
            <div class="col-8 d-flex justify-content-center align-items-center">
               <div>
                <h1 class="text-white">Register For Free & <br> Start Bidding Now!</h1>
                <p class="text-white">From cars to diamonds to iPhones, we have it all.</p>
               </div>
            </div>
            <div class="col-4 d-flex justify-content-center align-items-center">
                <button class="btn btn-light round" style="width:150px">
                    Register
                </button>
            </div>
        </div>
    </div>
    <br><br><br>


    {% comment %} watch section {% endcomment %}
    <div class='container d-flex'>
        <div>
            <img src="{%static 'img/categories/03.png'%}" alt="">
        </div>
        <div class='ms-4'>
            <h1>Watches</h1>
            <p>Shop for men & women designer brand watches</p>
        </div>
    </div>
    <div class="mt-5">
        
        <br> 
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card rounded p-2 card-style">
                        <img src="{%static 'img/watches/auction-1.jpg'%}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2018 Hyundai</h5>
                            <hr class="hr-dash">
                            <div class="row">
                                <div class="col-6"style="border-right: 1px solid gray">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-gavel text-success"></i></div>
                                        <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-wallet text-danger"></i></div>
                                        <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                        </div>
                        <button class="btn btn-primary btop text-white">Bid Now</button>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded p-2 card-style">
                        <img src="{%static 'img/watches/auction-2.jpg'%}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2018 Hyundai</h5>
                            <hr class="hr-dash">
                            <div class="row">
                                <div class="col-6"style="border-right: 1px solid gray">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-gavel text-success"></i></div>
                                        <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-wallet text-danger"></i></div>
                                        <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                        </div>
                        <button class="btn btn-primary btop text-white">Bid Now</button>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded p-2 card-style">
                        <img src="{%static 'img/watches/auction-3.jpg'%}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2018 Hyundai</h5>
                            <hr class="hr-dash">
                            <div class="row">
                                <div class="col-6"style="border-right: 1px solid gray">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-gavel text-success"></i></div>
                                        <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-wallet text-danger"></i></div>
                                        <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                        </div>
                        <button class="btn btn-primary btop  text-white">Bid Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    
    {% comment %} popular auctions {% endcomment %}
    <div style="background-image: url({%static 'img/popular/popular-bg.png'%})">
        <div class="text-center text-white mtop">
            <h6>Closing Within 24 Hours</h6>
            <h1>Popular Auctions</h1>
            <p>Bid and win great deals,Our auction process is simple, efficient, and transparent.</p>
        </div>
    </div>
    <div class="container p-5" style="margin-top:-200px;background:white;border-radius:20px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <img src="{%static 'img/watches/auction-3.jpg'%}" height="75%" alt="">
                    </div>
                    <div class="col-6 text-center ">
                        <h5 class="card-title">2018 Hyundai</h5>
                        <hr class="hr-dash">
                        <div class='d-flex text-center'>
                            <div><i class="text-center fas fa-gavel text-success"></i></div>
                            <div><p class='text-center text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                        </div>
                            <hr class="hr-dash">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <img src="{%static 'img/watches/auction-3.jpg'%}" height="200px" alt="">
                    </div>
                    <div class="col-6 text-center ">
                        <h5 class="card-title">2018 Hyundai</h5>
                        <hr class="hr-dash">
                        <div class='d-flex text-center'>
                            <div><i class="text-center fas fa-gavel text-success"></i></div>
                            <div><p class='text-center text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                        </div>
                            <hr class="hr-dash">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <img src="{%static 'img/watches/auction-3.jpg'%}" height="75%" alt="">
                    </div>
                    <div class="col-6 text-center ">
                        <h5 class="card-title">2018 Hyundai</h5>
                        <hr class="hr-dash">
                        <div class='d-flex text-center'>
                            <div><i class="text-center fas fa-gavel text-success"></i></div>
                            <div><p class='text-center text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                        </div>
                            <hr class="hr-dash">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <img src="{%static 'img/watches/auction-3.jpg'%}" height="200px" alt="">
                    </div>
                    <div class="col-6 text-center ">
                        <h5 class="card-title">2018 Hyundai</h5>
                        <hr class="hr-dash">
                        <div class='d-flex text-center'>
                            <div><i class="text-center fas fa-gavel text-success"></i></div>
                            <div><p class='text-center text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                        </div>
                            <hr class="hr-dash">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <img src="{%static 'img/watches/auction-3.jpg'%}" height="75%" alt="">
                    </div>
                    <div class="col-6 text-center ">
                        <h5 class="card-title">2018 Hyundai</h5>
                        <hr class="hr-dash">
                        <div class='d-flex text-center'>
                            <div><i class="text-center fas fa-gavel text-success"></i></div>
                            <div><p class='text-center text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                        </div>
                            <hr class="hr-dash">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col-6">
                        <img src="{%static 'img/watches/auction-3.jpg'%}" height="200px" alt="">
                    </div>
                    <div class="col-6 text-center ">
                        <h5 class="card-title">2018 Hyundai</h5>
                        <hr class="hr-dash">
                        <div class='d-flex text-center'>
                            <div><i class="text-center fas fa-gavel text-success"></i></div>
                            <div><p class='text-center text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                        </div>
                            <hr class="hr-dash">
                    </div>
                </div>
            </div>
        </div>
    </div> <br><br><br>
    {% comment %} coins section {% endcomment %}
    <div class='container d-flex'>
        <div>
            <img src="{%static 'img/coin/coin-1.png'%}" alt="">
        </div>
        <div class='ms-4'>
            <h1>Coins & Bullion</h1>
            <p>Online jewelry auctions where you can bid now and save money</p>
        </div>
    </div>
    <div class="mt-5" style="background-image: url({%static 'img/coin/coin-bg.png'%});height:600px;background-repeat: no-repeat;background-size: cover">
        
        <br> 
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card rounded p-2 card-style">
                        <img src="{%static 'img/coin/auction-1.jpg'%}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2018 Hyundai</h5>
                            <hr class="hr-dash">
                            <div class="row">
                                <div class="col-6"style="border-right: 1px solid gray">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-gavel text-success"></i></div>
                                        <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-wallet text-danger"></i></div>
                                        <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                        </div>
                        <button class="btn btn-primary btop text-white">Bid Now</button>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded p-2 card-style">
                        <img src="{%static 'img/coin/auction-2.jpg'%}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2018 Hyundai</h5>
                            <hr class="hr-dash">
                            <div class="row">
                                <div class="col-6"style="border-right: 1px solid gray">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-gavel text-success"></i></div>
                                        <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-wallet text-danger"></i></div>
                                        <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                        </div>
                        <button class="btn btn-primary btop text-white">Bid Now</button>
                    </div>
                </div>
                <div class="col">
                    <div class="card rounded p-2 card-style">
                        <img src="{%static 'img/coin/auction-3.jpg'%}" alt="">
                        <div class="card-body">
                            <h5 class="card-title">2018 Hyundai</h5>
                            <hr class="hr-dash">
                            <div class="row">
                                <div class="col-6"style="border-right: 1px solid gray">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-gavel text-success"></i></div>
                                        <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class='d-flex'>
                                        <div><i class="fas fa-wallet text-danger"></i></div>
                                        <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                    </div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                        </div>
                        <button class="btn btn-primary btop  text-white">Bid Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    {% comment %} Real Estate {% endcomment %}
    <div class='container d-flex'>
        <div>
            <img src="{%static 'img/categories/06.png'%}" alt="">
        </div>
        <div class='ms-4'>
            <h1>Real Estate</h1>
            <p>Find auctions for Homes, Condos, Residential & Commercial Properties.</p>
        </div>
    </div>
    <div class="mt-5" style="background-image: url({%static 'img/estate/real-bg.png'%});height:600px;background-repeat: no-repeat;background-size: cover">
        
        <br> 
        <div class="container">
            <div class="row">
                <div class="col-5 d-flex justify-content-center align-items-center">
                    <div>
                        <h2>Brand New Appartments</h2>
                        <hr class="hr-dash">
                        <div class="row">
                            <div class="col-6"style="border-right: 1px solid gray">
                                <div class='d-flex'>
                                    <div><i class="fas fa-gavel text-success"></i></div>
                                    <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class='d-flex'>
                                    <div><i class="fas fa-wallet text-danger"></i></div>
                                    <div><p class='text-danger ms-2'>Buy Now <br> <span class="text-black">100k &#2547</span></p></div>
                                </div>
                            </div>
                            <hr class="hr-dash">
                            <button class="btn btn-primary btop text-white mt-2">Bid Now</button>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <img src="{%static 'img/estate/auction-1.png'%}" alt="">
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    {% comment %} Electronics & Art {% endcomment %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class='container d-flex'>
                    <div>
                        <img src="{%static 'img/categories/04.png'%}" alt="">
                    </div>
                    <div class='ms-4'>
                        <h1>Electronics</h1>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="card p-2 mb-4"style="width: 30rem;">
                        <div class="d-flex">
                            <div>
                                <img src="{%static 'img/coin/auction-3.jpg'%}" height="150px" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">2018 Hyundai</h5>
                                <hr class="hr-dash">
                                <div class="row">
                                    <div class="col">
                                        <div class='d-flex'>
                                            <div><i class="fas fa-gavel text-success"></i></div>
                                            <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-dash">
                            </div>
                        </div>
                    </div>
                    <div class="card  p-2 mb-4"style="width: 30rem;">
                        <div class="d-flex">
                            <div>
                                <img src="{%static 'img/coin/auction-3.jpg'%}" height="150px" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">2018 Hyundai</h5>
                                <hr class="hr-dash">
                                <div class="row">
                                    <div class="col">
                                        <div class='d-flex'>
                                            <div><i class="fas fa-gavel text-success"></i></div>
                                            <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-dash">
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 mb-4"style="width: 30rem;">
                        <div class="d-flex">
                            <div>
                                <img src="{%static 'img/coin/auction-3.jpg'%}" height="150px" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">2018 Hyundai</h5>
                                <hr class="hr-dash">
                                <div class="row">
                                    <div class="col">
                                        <div class='d-flex'>
                                            <div><i class="fas fa-gavel text-success"></i></div>
                                            <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-dash">
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 mb-4"style="width: 30rem;">
                        <div class="d-flex">
                            <div>
                                <img src="{%static 'img/coin/auction-3.jpg'%}" height="150px" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">2018 Hyundai</h5>
                                <hr class="hr-dash">
                                <div class="row">
                                    <div class="col">
                                        <div class='d-flex'>
                                            <div><i class="fas fa-gavel text-success"></i></div>
                                            <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-dash">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class='container d-flex'>
                    <div>
                        <img src="{%static 'img/categories/04.png'%}" alt="">
                    </div>
                    <div class='ms-4'>
                        <h1>Electronics</h1>
                    </div>
                </div>
                <div class="container mt-4">
                    <div class="card p-2 mb-4"style="width: 30rem;">
                        <div class="d-flex">
                            <div>
                                <img src="{%static 'img/coin/auction-3.jpg'%}" height="150px" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">2018 Hyundai</h5>
                                <hr class="hr-dash">
                                <div class="row">
                                    <div class="col">
                                        <div class='d-flex'>
                                            <div><i class="fas fa-gavel text-success"></i></div>
                                            <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-dash">
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 mb-4"style="width: 30rem;">
                        <div class="d-flex">
                            <div>
                                <img src="{%static 'img/coin/auction-3.jpg'%}" height="150px" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">2018 Hyundai</h5>
                                <hr class="hr-dash">
                                <div class="row">
                                    <div class="col">
                                        <div class='d-flex'>
                                            <div><i class="fas fa-gavel text-success"></i></div>
                                            <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-dash">
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 mb-4"style="width: 30rem;">
                        <div class="d-flex">
                            <div>
                                <img src="{%static 'img/coin/auction-3.jpg'%}" height="150px" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">2018 Hyundai</h5>
                                <hr class="hr-dash">
                                <div class="row">
                                    <div class="col">
                                        <div class='d-flex'>
                                            <div><i class="fas fa-gavel text-success"></i></div>
                                            <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-dash">
                            </div>
                        </div>
                    </div>
                    <div class="card p-2 mb-4"style="width: 30rem;">
                        <div class="d-flex">
                            <div>
                                <img src="{%static 'img/coin/auction-3.jpg'%}" height="150px" alt="">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">2018 Hyundai</h5>
                                <hr class="hr-dash">
                                <div class="row">
                                    <div class="col">
                                        <div class='d-flex'>
                                            <div><i class="fas fa-gavel text-success"></i></div>
                                            <div><p class='text-success ms-2'>Current Bid <br> <span class="text-black">99k &#2547</span></p></div>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hr-dash">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        {% comment %} how it works {% endcomment %}
        <div class="container bghow p-5 rounds mb-5">
            <h1>How It Works</h1>
            <p>Easy 3 steps to win</p>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <img src="{%static 'img/how/how1.png'%}" alt="">
                        <h1>Sign Up</h1>
                        <p>No Credit Card Required</p>
                    </div>
                    <div class="col text-center">
                        <img src="{%static 'img/how/how2.png'%}" alt="">
                        <h1>Bid</h1>
                        <p>Bidding is free Only pay if you win</p>
                    </div>
                    <div class="col text-center">
                        <img src="{%static 'img/how/how3.png'%}" alt="">
                        <h1>Win</h1>
                        <p>Fun - Excitement - Great deals</p>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} testimonials {% endcomment %}
        <div class="container">
            <div class="text-center mb-5">
                <h1>Don’t Just Take Our Word For It!</h1>
                <p>Our hard work is paying off. Great reviews from amazing customers.</p>
            </div>
            <div class="row">
                <div class="col ">
                    <div class="card box-shadow" style="width: 18rem;border-radius:15px">
                        <div class="card-body" style="border-bottom: 1px solid rgba(146, 143, 143, .3)">
                          <p class="card-text">I came I saw I won. Love what I have won, and will try to won something else</p>
                        </div>
                        <div class="row text-center">
                            <div class="col-4 p-3">
                                <img src="{%static 'img/client/client01.png'%}" class="card-img-top" alt="...">
                            </div>
                            <div class="col-8 d-flex justify-content-center align-items-center">
                                <div>
                                    <h3>Darin Griffin</h3>
                                    <div class="d-flex">
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col ">
                    <div class="card box-shadow" style="width: 18rem;border-radius:15px">
                        <div class="card-body" style="border-bottom: 1px solid rgba(146, 143, 143, .3)">
                          <p class="card-text">I came I saw I won. Love what I have won, and will try to won something else</p>
                        </div>
                        <div class="row text-center">
                            <div class="col-4 p-3">
                                <img src="{%static 'img/client/client01.png'%}" class="card-img-top" alt="...">
                            </div>
                            <div class="col-8 d-flex justify-content-center align-items-center">
                                <div>
                                    <h3>Darin Griffin</h3>
                                    <div class="d-flex">
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                <div class="col ">
                    <div class="card box-shadow" style="width: 18rem;border-radius:15px">
                        <div class="card-body" style="border-bottom: 1px solid rgba(146, 143, 143, .3)">
                          <p class="card-text">I came I saw I won. Love what I have won, and will try to won something else</p>
                        </div>
                        <div class="row text-center">
                            <div class="col-4 p-3">
                                <img src="{%static 'img/client/client01.png'%}" class="card-img-top" alt="...">
                            </div>
                            <div class="col-8 d-flex justify-content-center align-items-center">
                                <div>
                                    <h3>Darin Griffin</h3>
                                    <div class="d-flex">
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                        <i class="fas fa-star text-warning"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    {% comment %} newsletter {% endcomment %}
    <div style="background-image: url({%static 'img/footer/footer-top-shape.png'%});background-repeat: no-repeat;background-size: cover;">

        <div class="container box-shadow rounds-test">
            <div class="row m-5">
                <div class="col">
                    <img src="{%static 'img/footer/newslater.png'%}" alt="">
                </div>
                <div class="col d-flex justify-content-center align-items-center">
                    <div>
                        <h3>Subscribe to Sbidu</h3>
                        <h1>To Get Exclusive Benefits</h1>
                        <div class="d-flex">
                            <nav class="navbar navbar-light bg-light">
                                <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Enter your email" aria-label="Search">
                                
                                </form>
                            </nav>
                            <input type="button" value="Subscribe" class="btn btn-primary "style="border-radius:30px; height:40px;margin-top:8px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1>changed by tuhin from another place</h1>
        <p>ok brother, I'm feeling so gooo</p>
    </div>
{% endblock  %}
</body>
</html>
